<div class="issue-window">

  <div *ngIf="loading" class="loading">
    Loading...
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <div
    *ngIf="!loading && !error && discussions.length === 0"
    class="empty"
  >
    No Status found
  </div>

  <div class="issue-list">

    @for(discussion of discussions; track discussions) {
      <div class="issue-title">
        {{ discussion.title }}
      </div>
    }

  </div>

    <div class="status">

        <span
            class="badge"
            [class.done]="discussion.closed"
            [class.working]="!discussion.closed"
        >
    
            {{ discussion.closed ? 'Done' : 'Ongoing' }}
    
        </span>

    </div>

</div>
