:host {
    // 内部显示（水平+垂直居中）
    position: fixed;
    top: 40px;               /* 相当于 top:0; right:0; bottom:0; left:0; */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */

    width: 100vw;
    height: 100vh;
}
