@if (currentDisplayPart === 'Home') {
    <app-sub-introduce-myself-window></app-sub-introduce-myself-window>
} @else if (currentDisplayPart == "Travel") {
    <app-sub-travelling-window></app-sub-travelling-window>
} @else if (currentDisplayPart == "Status") {
    <app-sub-issue-list-window></app-sub-issue-list-window>
} @else if (currentDisplayPart == "Works") {
    <app-sub-works-list-window></app-sub-works-list-window>
} @else if (currentDisplayPart == "Contact") {
    <app-sub-contact-list-window></app-sub-contact-list-window>
} @else if (currentDisplayPart == "Files") {
    <app-sub-files-list-window></app-sub-files-list-window>
}
