@if (currentDisplayPart === 'Home') {
    <app-sub-introduce-myself-window class="liquidGL"></app-sub-introduce-myself-window>
} @else if (currentDisplayPart == "Travel") {
    <app-sub-travelling-window class="liquidGL"></app-sub-travelling-window>
} @else if (currentDisplayPart == "Status") {
    <app-sub-issue-list-window class="liquidGL"></app-sub-issue-list-window>
} @else if (currentDisplayPart == "Works") {
    <app-sub-works-list-window class="liquidGL"></app-sub-works-list-window>
} @else if (currentDisplayPart == "Contact") {
    <app-sub-contact-list-window class="liquidGL"></app-sub-contact-list-window>
} @else if (currentDisplayPart == "Files") {
    <app-sub-files-list-window class="liquidGL"></app-sub-files-list-window>
}
