@use "tailwindcss";

:host {
    width: 100% !important;
    height: 100% !important;
}

app-topbar,
.main,
app-footbar {
    position: relative;
    z-index: 1;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
