<div class="issue-window liquidGlass-wrapper">
    <canvas class="liquidGlass-shader" aria-hidden="true"></canvas>
    <div class="liquidGlass-text issue-window-content">
        <div class="issue-list">
        @for (contact of contacts; track contact.url) {

            <div class="issue-row">
            <a href="{{ contact.url }}">
                <div class="issue-title">
                    {{ contact.title }}
                </div>
            </a>
            <div class="status">

                <span
                class="badge"
                [class.done]="contact.valid"
                [class.working]="!contact.valid"
                >

                {{ contact.valid ? 'Valid' : 'Not Valid' }}

                </span>

            </div>

            </div>

        }

        </div>
    </div>
</div>
