:host {
    position: fixed;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.footbar-shell {
    min-height: 3rem;
    width: auto;
    border-radius: 10px;
}

.footbar-content {
    display: flex;
    align-items: center;
    padding: 1rem;
}